# Data Dictionary

# 0.0 Imports

In [182]:
import pandas as pd
import inflection
from src import GeneralUtils  as gu
import seaborn as sns
import plotly.express as px
from datetime import timedelta
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
def segment(score):
    if score in [555, 554, 544, 545, 454, 455, 445]:
        return 'Champions'
     
    if score in [543, 444, 435, 355, 354, 345, 344, 335]: 
        return 
    'Loyal'
    if score in [553, 551, 552, 541, 542, 533, 532, 531, 452, 451, 442, 441, 431, 453, 433, 432, 423, 353, 352, 351, 342, 341, 333, 323]: 
        return 
    'Potential Loyalist'

    if score in [512, 511, 422, 421, 412, 411, 311]: 
        return 'New Customers'

    if score in [525, 524, 523, 522, 521, 515, 514, 513, 425,424, 413,414,415, 315, 314, 313]: 
        return 'Promising'

    if score in [535, 534, 443, 434, 343, 334, 325, 324]: 
        return 'Need Attention'

    if score in [331, 321, 312, 221, 213, 231, 241, 251]: 
        return 'About To Sleep'

    if score in [255, 254, 245, 244, 253, 252, 243, 242, 235, 234, 225, 224, 153, 152, 145, 143, 142, 135, 134, 133, 125, 124]: 
        return 'At Risk'

    if score in [155, 154, 144, 214,215,115, 114, 113]: 
        return 'Cannot Lose Them'

    if score in [332, 322, 233, 232, 223, 222, 132, 123, 122, 212, 211]: 
        return 'Hibernating customers'

    if score in [111, 112, 121, 131,141,151]: 
        return 'Lost customers'

# 0.1 Load Data

In [2]:
df_raw = pd.read_csv('../data/raw/Ecommerce.csv', encoding='ISO-8859-1')

In [3]:
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Unnamed: 8
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# 1.0. Data Description

In [4]:
df_description = df_raw.drop('Unnamed: 8', axis=1)

In [5]:
df_description.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom

## 1.1. Renaming Columns

In [6]:
old_cols = ['InvoiceNo', 'StockCode', 'Description', 'Quantity','InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

snakecase = lambda x: inflection.underscore(x)
new_cols = list(map(snakecase, old_cols))

df_description.columns = new_cols

In [7]:
df_description['description'] = df_description['description'].str.lower()

In [8]:
df_description.sort_values('invoice_date')

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
143377,548698,84988,set of 72 pink heart paper doilies,2,1-Apr-17,1.45,18109.0,United Kingdom
143732,548711,20752,blue polkadot washing up gloves,1,1-Apr-17,2.10,18116.0,United Kingdom
143733,548711,22719,gumball monochrome coat rack,1,1-Apr-17,1.25,18116.0,United Kingdom
143734,548711,22467,gumball coat rack,4,1-Apr-17,2.55,18116.0,United Kingdom
143735,548711,85014A,black/blue polkadot umbrella,1,1-Apr-17,5.95,18116.0,United Kingdom
...,...,...,...,...,...,...,...,...
334723,566267,23293,set of 12 fairy cake baking cases,8,9-Sep-17,0.83,12647.0,Germany
334722,566267,23296,set of 6 tea time baking cases,8,9-Sep-17,1.25,12647.0,Germany
334721,566267,23295,set of 12 mini loaf baking cases,8,9-Sep-17,0.83,12647.0,Germany
334734,566268,22189,cream heart card holder,4,9-Sep-17,3.95,13813.0,Germany
336084,566301,23321,small white heart of wicker,3,9-Sep-17,1.65,16474.0,United Kingdom

## 1.2. Data Dimension

In [9]:
print(f'Number of Rows: {df_description.shape[0]}')
print(f'Number of Columnss: {df_description.shape[1]}')

Number of Rows: 541909
Number of Columnss: 8

## 1.3. Data Types & Missing Values

In [10]:
gu.sum_table(df_description)

           Name   dtypes  Uniques  Missing  Missing %
0    invoice_no   object    25900        0       0.00
1    stock_code   object     4070        0       0.00
2   description   object     4206     1454       0.27
3      quantity    int64      722        0       0.00
4  invoice_date   object      305        0       0.00
5    unit_price  float64     1630        0       0.00
6   customer_id  float64     4372   135080      24.93
7       country   object       38        0       0.00

## 1.4.  Handling Missing Values

Checking if there is elements with missing c

Checando se há invoice number dos elementos com customer id ausente em outra parte do dataset, para podermos preencher os espaços faltantes.

In [11]:
invoice_no_of_missing_customer_ids = df_description.query('customer_id.isnull()').invoice_no.values
df_description.loc[df_description.invoice_no.isin(invoice_no_of_missing_customer_ids)].query('~customer_id.isnull()')

Empty DataFrame
Columns: [invoice_no, stock_code, description, quantity, invoice_date, unit_price, customer_id, country]
Index: []

In [12]:
df_description.loc[df_description.invoice_no.isin(invoice_no_of_missing_customer_ids)].query("invoice_no == '536544'")

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
1443,536544,21773,decorative rose bathroom bottle,1,29-Nov-16,2.51,NaN,United Kingdom
1444,536544,21774,decorative cats bathroom bottle,2,29-Nov-16,2.51,NaN,United Kingdom
1445,536544,21786,polkadot rain hat,4,29-Nov-16,0.85,NaN,United Kingdom
1446,536544,21787,rain poncho retrospot,2,29-Nov-16,1.66,NaN,United Kingdom
1447,536544,21790,vintage snap cards,9,29-Nov-16,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
1965,536544,21721,candy shop sticker sheet,1,29-Nov-16,1.66,NaN,United Kingdom
1966,536544,21722,sweet pudding sticker sheet,1,29-Nov-16,1.66,NaN,United Kingdom
1967,536544,21731,red toadstool led night light,5,29-Nov-16,3.36,NaN,United Kingdom
1968,536544,21742,large round wicker platter,1,29-Nov-16,12.72,NaN,United Kingdom
1969,536544,21758,vintage shells print,1,29-Nov-16,12.72,NaN,United Kingdom

In [13]:
df_description.loc[df_description.invoice_no.isin(invoice_no_of_missing_customer_ids)].groupby('invoice_no').count().sort_values('country', ascending=False)

,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
invoice_no,,,,,,,
573585,1114,1114,1114,1114,1114,0,1114
581219,749,749,749,749,749,0,749
581492,731,731,731,731,731,0,731
580729,721,721,721,721,721,0,721
558475,705,705,705,705,705,0,705
...,...,...,...,...,...,...,...
551900,1,0,1,1,1,0,1
551964,1,0,1,1,1,0,1
551965,1,0,1,1,1,0,1
552006,1,1,1,1,1,0,1
C580605,1,1,1,1,1,0,1

In [14]:
df_description.customer_id

0         17850.0
1         17850.0
2         17850.0
3         17850.0
4         17850.0
           ...
541904    12680.0
541905    12680.0
541906    12680.0
541907    12680.0
541908    12680.0
Name: customer_id, Length: 541909, dtype: float64

In [15]:
# description
df_description = df_description.dropna(subset='description', axis=0)

In [16]:
df_clean = df_description .dropna(subset='customer_id', axis=0)

## 1.5. Fixing Data Types

In [17]:
df_clean.invoice_date = pd.to_datetime(df_clean.invoice_date)
df_clean.customer_id = df_clean.customer_id.astype(object)

C:\Users\Bteix\AppData\Local\Temp\ipykernel_10944\3702405254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.invoice_date = pd.to_datetime(df_clean.invoice_date)
C:\Users\Bteix\AppData\Local\Temp\ipykernel_10944\3702405254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.customer_id = df_clean.customer_id.astype(object)

## 1.6. Descriptive Statistic

### 1.6.1. Numerical Variables

In [18]:
num_att = df_clean.select_dtypes(include=['float64', 'int64'])

In [19]:
num_att.agg(['min', 'max', 'ptp', 'mean', 'median', 'var', 'std', 'skew', 'kurtosis']).T.reset_index().rename(columns={'index': 'Attributes', 'ptp': 'range'})

,Attributes,min,max,range,mean,median,var,std,skew,kurtosis
0,quantity,-80995.0,80995.0,161990.0,12.061303,5.00,61848.392291,248.693370,0.182663,94317.563673
1,unit_price,0.0,38970.0,38970.0,3.460471,1.95,4804.591645,69.315162,452.219019,246924.542988

In [20]:
num_att.describe([0.01, 0.05, 0.10, 0.20, 0.80, 0.90, 0.95, 0.99])[['quantity', 'unit_price']].T

,count,mean,std,min,1%,5%,10%,20%,50%,80%,90%,95%,99%,max
quantity,406829.0,12.061303,248.693370,-80995.0,-2.00,1.00,1.00,1.00,5.00,12.00,24.00,36.0,120.0,80995.0
unit_price,406829.0,3.460471,69.315162,0.0,0.21,0.42,0.55,0.85,1.95,4.15,6.75,8.5,15.0,38970.0

sns.histplot(df_clean.quantity)

Negative quantities are impossible so, first we will turn it into positive number and then we analyze outliers.

In [22]:
df_clean['quantity'] = df_clean['quantity'].apply(lambda x: -1 * x if x < 0 else x)

C:\Users\Bteix\AppData\Local\Temp\ipykernel_10944\1036948296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['quantity'] = df_clean['quantity'].apply(lambda x: -1 * x if x < 0 else x)

In [28]:
df_clean.query('quantity > 120').sort_values('quantity').tail(20)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
421601,573003,23084,rabbit night light,2400,2017-10-25,2.08,14646.0,Netherlands
91772,544152,18007,essential balm 3.5g tin in envelope,2400,2017-02-14,0.06,14609.0,United Kingdom
80742,543057,84077,world war 2 gliders asstd designs,2592,2017-02-01,0.21,16333.0,United Kingdom
201149,554272,21977,pack of 60 pink paisley cake cases,2700,2017-05-21,0.42,12901.0,United Kingdom
291249,562439,84879,assorted colour bird ornament,2880,2017-08-02,1.45,12931.0,United Kingdom
4945,536830,84077,world war 2 gliders asstd designs,2880,2016-11-30,0.18,16754.0,United Kingdom
433788,573995,16014,small chinese style scissor,3000,2017-10-31,0.32,16308.0,United Kingdom
160546,550461,21108,fairy cake flannel assorted colour,3114,2017-04-16,2.10,15749.0,United Kingdom
160145,C550456,21108,fairy cake flannel assorted colour,3114,2017-04-16,2.10,15749.0,United Kingdom
52711,540815,21108,fairy cake flannel assorted colour,3114,2017-01-09,2.10,15749.0,United Kingdom
270885,560599,18007,essential balm 3.5g tin in envelope,3186,2017-07-17,0.06,14609.0,United Kingdom
97432,544612,22053,empire design rosette,3906,2017-02-20,0.82,18087.0,United Kingdom
206121,554868,22197,small popcorn holder,4300,2017-05-25,0.72,13135.0,United Kingdom
421632,573008,84077,world war 2 gliders asstd designs,4800,2017-10-25,0.21,12901.0,United Kingdom
4287,C536757,84347,rotating silver angels t-light hldr,9360,2016-11-30,0.03,15838.0,United Kingdom
502122,578841,84826,asstd design 3d paper stickers,12540,2017-11-23,0.00,13256.0,United Kingdom
61624,C541433,23166,medium ceramic top storage jar,74215,2017-01-16,1.04,12346.0,United Kingdom
61619,541431,23166,medium ceramic top storage jar,74215,2017-01-16,1.04,12346.0,United Kingdom
540421,581483,23843,"paper craft , little birdie",80995,2017-12-07,2.08,16446.0,United Kingdom
540422,C581484,23843,"paper craft , little birdie",80995,2017-12-07,2.08,16446.0,United Kingdom

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# 2.0. Feature Engineering

In [185]:
df_feature = df_clean.copy()

In [186]:
df_feature['total_spent'] = df_feature.quantity * df_feature.unit_price

In [187]:
# Recency
diff = df_feature.invoice_date.max() - df_feature.groupby('customer_id').max()['invoice_date']
recency = pd.DataFrame(diff).reset_index().rename(columns={'invoice_date': 'recency'})

recency['recency'] = recency['recency'].dt.days

df_feature = df_feature.merge((recency), how='inner', on='customer_id')


# Frequency
frequency = df_feature.groupby('customer_id').count()[['invoice_no']].reset_index().rename(columns={'invoice_no': 'frequency'})
df_feature = df_feature.merge((frequency), how='inner', on='customer_id')

# Monetary
monetary = df_feature.groupby('customer_id').mean(numeric_only=True).total_spent.reset_index().rename(columns={'total_spent': 'monetary'})
df_feature = df_feature.merge((monetary), how='inner', on='customer_id')

In [188]:
df_feature.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,total_spent,recency,frequency,monetary
0,536365,85123A,white hanging heart t-light holder,6,2016-11-29,2.55,17850.0,United Kingdom,15.30,302,312,17.608301
1,536365,71053,white metal lantern,6,2016-11-29,3.39,17850.0,United Kingdom,20.34,302,312,17.608301
2,536365,84406B,cream cupid hearts coat hanger,8,2016-11-29,2.75,17850.0,United Kingdom,22.00,302,312,17.608301
3,536365,84029G,knitted union flag hot water bottle,6,2016-11-29,3.39,17850.0,United Kingdom,20.34,302,312,17.608301
4,536365,84029E,red woolly hottie white heart.,6,2016-11-29,3.39,17850.0,United Kingdom,20.34,302,312,17.608301

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# 3.0. Data Filtering

In [189]:
df_rfm = df_feature.copy()[['customer_id', 'recency', 'frequency', 'monetary']]
df_rfm.head()

  customer_id  recency  frequency   monetary
0     17850.0      302        312  17.608301
1     17850.0      302        312  17.608301
2     17850.0      302        312  17.608301
3     17850.0      302        312  17.608301
4     17850.0      302        312  17.608301

In [190]:
customers_rfm = df_rfm.drop_duplicates('customer_id')

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# 4.0. RFM Analysis

In [191]:
import warnings
warnings.filterwarnings('ignore')

## 4.1. Recency score

In [192]:
scores = dict(zip(pd.qcut(customers_rfm.recency, q=5).unique().sort_values(), [5, 4, 3, 2, 1]))

customers_rfm['recency_score'] = pd.qcut(customers_rfm.recency, q=5)

customers_rfm['recency_score'] = customers_rfm['recency_score'].map(scores)

In [193]:
customers_rfm.sort_values('recency', ascending=True)

       customer_id  recency  frequency   monetary recency_score
406791     12713.0        0         38  22.330263             5
398126     12985.0        0         78  16.194103             5
11488      12748.0        0       4642   8.265265             5
66621      13069.0        0        470  10.966851             5
156895     13426.0        0        159  23.471321             5
...            ...      ...        ...        ...           ...
35139      14142.0      373         22  14.173182             1
35315      13065.0      373         14  14.704286             1
38394      18011.0      373         28   3.671071             1
10614      17968.0      373         85   3.262941             1
34085      16274.0      373         67   5.342537             1

[4372 rows x 5 columns]

## 4.2. Frequency score

In [194]:
scores = dict(zip(pd.qcut(customers_rfm.frequency, q=5).unique().sort_values(), [1, 2, 3, 4, 5]))

customers_rfm['frequency_score'] = pd.qcut(customers_rfm.frequency, q=5)

customers_rfm['frequency_score'] = customers_rfm['frequency_score'].map(scores)

In [195]:
customers_rfm.sort_values('frequency', ascending=False)

,customer_id,recency,frequency,monetary,recency_score,frequency_score
23690,17841.0,1,7983,5.216380,5,5
17676,14911.0,1,5903,26.270964,5,5
357065,14096.0,4,5128,14.276262,5,5
11488,12748.0,0,4642,8.265265,5,5
35329,14606.0,1,2782,4.528918,5,5
...,...,...,...,...,...,...
42390,15070.0,372,1,106.200000,1,1
236478,15753.0,304,1,79.200000,1,1
344307,17065.0,143,1,112.350000,2,1
378020,16881.0,66,1,432.000000,3,1
51084,16995.0,372,1,1.250000,1,1

## 4.1. Monetary score

In [196]:
scores = dict(zip(pd.qcut(customers_rfm.monetary, q=5).unique().sort_values(), [1, 2, 3, 4, 5]))

customers_rfm['monetary_score'] = pd.qcut(customers_rfm.monetary, q=5)

customers_rfm['monetary_score'] = customers_rfm['monetary_score'].map(scores)

In [201]:
customers_rfm['rfm_score'] = customers_rfm[['recency_score', 'frequency_score', 'monetary_score']].apply(lambda x: f"{x['recency_score']}{x['frequency_score']}{x['monetary_score']}", axis=1)

In [203]:
customers_rfm

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score,rfm_score
0,17850.0,302,312,17.608301,1,5,3,153
312,13047.0,31,196,17.326429,4,5,3,453
508,12583.0,2,251,29.384143,5,5,5,555
759,13748.0,95,28,33.866071,2,2,5,225
787,15100.0,330,6,186.150000,1,1,5,115
...,...,...,...,...,...,...,...,...
406747,13436.0,1,12,16.407500,5,1,3,513
406759,15520.0,1,18,19.083333,5,2,3,523
406777,13298.0,1,2,180.000000,5,1,5,515
406779,14569.0,1,12,18.949167,5,1,3,513
406791,12713.0,0,38,22.330263,5,3,4,534

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# 5.0. Segmentation

In [204]:
df_seg = customers_rfm.copy()[['customer_id', 'rfm_score']]

|Segment|Scores|
|--------|-------|
Champions|	555, 554, 544, 545, 454, 455, 445
Loyal|	543, 444, 435, 355, 354, 345, 344, 335
Potential Loyalist|	553, 551, 552, 541, 542, 533, 532, 531, 452, 451, 442, 441, 431, 453, 433, 432, 423, 353, 352, 351, 342, 341, 333, 323
New Customers|	512, 511, 422, 421 412, 411, 311
Promising|	525, 524, 523, 522, 521, 515, 514, 513, 425,424, 413,414,415, 315, 314, 313
Need Attention|	535, 534, 443, 434, 343, 334, 325, 324
About To Sleep|	331, 321, 312, 221, 213, 231, 241, 251
At Risk|	255, 254, 245, 244, 253, 252, 243, 242, 235, 234, 225, 224, 153, 152, 145, 143, 142, 135, 134, 133, 125, 124
Cannot Lose Them|	155, 154, 144, 214,215,115, 114, 113
Hibernating customers|	332, 322, 233, 232, 223, 222, 132, 123, 122, 212, 211
Lost customers|	111, 112, 121, 131,141,151

In [214]:
df_seg.rfm_score = df_seg.rfm_score.astype('int')
df_seg['segment'] = df_seg['rfm_score'].apply(lambda x: segment(x))

In [222]:
df_seg

       customer_id  rfm_score           segment
0          17850.0        153           At Risk
312        13047.0        453              None
508        12583.0        555         Champions
759        13748.0        225           At Risk
787        15100.0        115  Cannot Lose Them
...            ...        ...               ...
406747     13436.0        513         Promising
406759     15520.0        523         Promising
406777     13298.0        515         Promising
406779     14569.0        513         Promising
406791     12713.0        534    Need Attention

[4372 rows x 3 columns]

In [239]:
df_aux = df_seg.groupby('segment').count()['customer_id'].reset_index().rename(columns={'customer_id': 'number_customers'})

px.bar(df_aux, x='segment', y='number_customers', color='segment',
       labels={'number_customers': 'Number of Customers'})

In [247]:
fig = px.treemap(df_aux, path=[px.Constant("all"), 'segment', 'number_customers'], values='number_customers', color='segment')
fig.update_traces(root_color='lightgrey')
fig.update_layout(margin=dict(t=50, l=25, r=25, b=25))

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# 6.0. Feature Selection

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# 7.0. Machine Learning Modelling

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# 8.0. Convert Model Performance to Business Values